/* Global Properties */
html {
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: "Baloo Tamma 2", cursive;
  color: rgb(206, 119, 61);
}

/* Main Heading Font */
.m-heading {
  font-family: "Roboto Slab", serif;
}

.navigation-link {
  border: 2px solid transperent;
  color: rgb(206, 119, 61);
}
.nvigation-link:hover {
  text-decoration: none;
  border-bottom: 2px solid #f5ba09;
  transition: 0.5s ease;
}
.main-container {
  min-height: 70vh;
  padding-top: 5rem;
}
.main_row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_row img {
  width: auto;
  height: 46.9rem5;
}
#about {
  background: blanchedalmond;
  border-radius: 10px;
}
.media_link {
  border: 2px solid;
}
